<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Coding Dojo Wall</h1>
        <div class="nav-right">
            <h2>Welcome {{user.first_name}}</h2>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <form action="/create/post" method = 'post' class="form-group">
        <h2>Whats on your mind? create a new post</h2>
    {% with errors = get_flashed_messages(category_filter=["regError"]) %}
        {% if errors %}
        <ul class="error">
            {%- for msg in errors %}
            <li class="error">{{ msg }}</li>
            {% endfor -%}
        </ul>
        {% endif %}
    {% endwith %}
        <textarea name="content" cols="10" rows="3"></textarea>
        <button>Submit</button>
    </form>
    {% for post in posts %}
    <div class="post">
        <p>{{post.creator}} {{post.created_at.strftime('%Y-%m-%d')}}</p>
        <p>{{post.content}}</p>
        {%for p in post.comments %}
        <p>{{p.creator}} 
            {{p.content}}</p>
        {% endfor %}
        <form action="/create/comment/{{post.id}}" method="post">
            <textarea name="comment" id='comment' cols="10" rows="1"></textarea>
            <button>Comment</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>