<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Counter</h1>
    <h2>{{session['count']}}</h2>
    <div class="button">
        <form action="/count" method="post">
            <button class="click" name="click" value="plus1">Click</button>
            <button class="reset" name='click' value="reset" >Reset</button>
            <button class="plus_2" name="click" value="plus2">Add 2</button>
        </form>
        <form action="/plusx" method="post">
            <input class="plus_num" name="click1" placeholder="type a number!">
        </form>
    </div>
</body>
</html>

