<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="wrapper">
            <nav>
                <h1>Rock on {{c.Creator}}</h1>
                <div class="nav-right">
                    <a href="/mybands/{{c.user_id}}">My Bands</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/logout" class="btn btn-outline-primary">logout</a> 
                </div>
    <div class="container">
        <div class="reg">
        {% with errors = get_flashed_messages(category_filter=["regError"]) %}
            {% if errors %}
            <ul class="error">
                {%- for msg in errors %}
                <li class="error">{{ msg }}</li>
                {% endfor -%}
            </ul>
            {% endif %}
        {% endwith %}
            <form action="/update/band/save/{{c.id}}" method="post" class="form-group">
                <div class="mb-3">
                    <label for="name" class="form-label">Band name:</label>
                    <input type="text" class="form-control"  name="name" value="{{c.name}}">
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Music Genre:</label>
                    <input type="text" class="form-control" name="genre" value="{{c.genre}}">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">Home city:</label>
                    <input type="text" class="form-control"  name="city" value="{{c.city}}">
                </div>
                <button>Update</button>
            </form>
        </div>
</body>
</html>