<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <em><h1>{{author.first_name}} {{author.last_name}}</h1></em>
    <p>ID:{{author.id}}</p>
    <p>Description:{{author.notes}}</p>
    <h4>Books:
        <ul>
            {% for i in author.books.all %}
            <li>{{i.title}}</li>
            {%endfor%}
            <form action="/create/relationship1/{{author.id}}" method="post">
                {% csrf_token %}
                <select name="book" >
                    {% for a in book %}
                    {% if a not in author.books.all %}
                    <option value='{{a.id}}'>{{a.title}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
                <button>submit</button>
            </form>
        </ul>
    </h4>
</body>
</html>